:root{
    --p-bg-color: #FFC017;
    --p-bg-light: #fff;
    --p-bg-dark: #000000cc;
    --p-text-color-dark: #000;
    --p-text-color-light: #fff;
    --source-pro: 'Source Serif 4', serif;
    --poppins: 'Poppins', sans-serif;
    --toastify-color-success: dodgerblue !important;
}